@import "fonts";
@import "colors";
@import "layout";
@import "buttons/buttons";

.splash{
    display:flex;
    flex:1 1 auto;
    padding: 0 15px;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    height:calc(100vh - 12px);  

    > div{
        display:flex;
        flex:0 1 auto;
        justify-content:center;
        flex-wrap:wrap;
        max-width:460px;
        
        img{
            display:block;
            width:235px;
            height:35px;
        }   
    }

    h1{
        display:flex;
        flex:1 0 100%;
        justify-content:center;
        text-align:center;
        font-size:$font-size * 1;
        font-weight:500;
        //padding:0 15px;
        margin-bottom:60px;
        color: $secondary  
    }
}