@import "fonts";
@import "colors";

input[type=text], 
input[type=password]{
    display:flex;
    flex:1 1 100%;
    color: $secondary;
    border: solid 1px $secondary;
    border-radius:6px;
    padding:12px;   
}