@import "fonts";
@import "colors";
@import "inputs";
html{
    background-color: rgba($secondary, 8%);
    font-family: 'Nunito', sans-serif;
    padding:6px;
}

body{
    display:flex;
    flex:1 0 100%;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    background-color: rgba($secondary, 10%);
}

.header{
    display:flex;
    flex:1 0 100%;
    justify-content:center;

    img {
        width:100%;
        min-width:175px;
        max-width:235px;
        padding:15px;   
    }
}

.navbar{
    display: flex;
    flex: 1 0 100%;
    justify-content:center;
    align-content:center;
    margin-top:15px;
    background-color: rgba($secondary, 3%);   

    div{
        display:flex;
        flex: 0 1 auto;
        padding:12px 24px;
        cursor:pointer;
        border-radius:6px;
        font-weight:500;
        
        &:hover, &.active{
            background-color: #fff;   
        }   
    }
}

.container{
    display:flex;
    flex:1 1 auto;
    padding: 0 15px;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    height:calc(100vh - 12px);

    @media(min-width:769px){
        flex:0 1 500px;
    }

    &.top{
        flex:1 0 100%;
        align-items:flex-start;    
    } 

    .inner-container{
        display:flex;
        flex-wrap:wrap;
        flex:0 1 60%;
    }

    .full{
        display:flex;
        flex:1 0 100%;
        flex-wrap:wrap;
        padding: 15px 0;

        &.center{
           justify-content:center; 
        }

        a{
            text-decoration:none;
            font-weight:500;
            color:$secondary;
            padding:15px;   
        }

        label{
            display:flex;
            flex:1 0 100%;
            align-items:center;
            padding: 6px 0;
        }

        /*input{
            display:flex;
            flex:1 1 auto;
            padding: 0 15px;
        }*/
    }
    
}


.category{
    display:none;
    flex: 1 1 auto ;
    flex-wrap:wrap;
    background-color: #fff;
    padding:12px;
    margin:24px 0;
    border-radius:6px;

    .section{
        display:flex;
        flex: 1 0 100%;
        flex-wrap:wrap;
        margin-bottom:12px;
        padding:0 6px;
        border-bottom: dotted 1px rgba($secondary, 50%);

        &:last-child{
            margin:0;
            border:none;
         }


        .section-head{
            display:flex;
            flex: 1 0 100%;
            justify-content: space-between;
            align-items:center;
            padding:6px 0;
            //border-bottom: dotted 1px rgba($secondary, 50%);
            position: relative;
            font-size:18px;
            font-weight:500;
            color: $main;

            &:after{
                content: "\1F892";
                color: rgba($secondary, 75%);
                font-size:36px;
                line-height:0;
                font-weight:700;
                padding-right:6px;
                position: absolute;
                right:0;
            }

            &.active{

                &:after{
                    transform: rotate(90deg);
                    padding-right:12px;
                    top:24px;
                    right:3px;
                } 
            }
        }

        .section-content{
            display:flex;
            flex: 1 0 100%;
            flex-wrap:wrap;
            display:none;

            > div{
                display:flex;
                flex: 1 0 100%;
                padding:6px 0;
            }
        }
    }
}